{{title}}
<h1>This is the first app routing</h1>
<p>Random number from child component:{{randomNumber || 'Not yet generated'}}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="active" routerLink="/home" skipLocationChange="true">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="active" routerLink="/aboutme" skipLocationChange="true">About Me</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="active" routerLink="/contactme" skipLocationChange="true">Contact Me</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="active" routerLink="/blog" skipLocationChange="true">Blog</a>
        </li>

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <router-outlet  ></router-outlet>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-12">
      <app-home [subjectChild]="subjectParent"
       (numberGen1)="onNumberGenerated($event)"></app-home>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-contactme></app-contactme>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-aboutme></app-aboutme>
    </div>
  </div> -->